.page {
    background: url('/images/background.png') no-repeat center center fixed;
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    align-items: flex; 
    padding: 20px; 
    height: 100vh;
 
  
}

.signinContainer {
    max-width: 600px;
    margin:  0px auto;
    padding: 10px;  
    border: none;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.title {
    font-size: 4rem;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    text-align: left; 
    font-weight: bold;
    margin-top: 0px; 
    opacity: 0.8;
}
.para {
    font-weight: bolder;
    font-size: larger;
}

.button {
    padding: 20px;
    background-color: rgb(176, 175, 175);
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    width: 150px;
    color: #273276;
    margin-top: 30px;
    
}