.header {
  position: absolute; 
  top: 0; 
  right: 0; 
  color: white;
  padding: 10px;
  text-align: right; 
  width: 100%; /* the header takes full width */
  

}

.navList {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: flex-end; 
  margin: 0;
  padding: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: larger;

  

}
  .navLink {
    color: white;
    text-decoration: none;

  }
  
  .navLink:hover {
    text-decoration: underline;
  }

  
  .searchInput {
    background-color: rgba(220, 213, 213, 0.5);
   
    opacity: 0.8;
  
  }
  .searchInput::placeholder {
    color:white;;
  }