.header {
   
  top: 0; 
  right: 0; 
  color: white;
  padding: 10px;
  text-align: right; 
  width: 100%; /* the header takes full width */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navList {
  display: flex;
  gap: 5px;
  justify-content: flex-end; 
  margin: 0;  
}

.button {
  padding: 10px;
  background-color: rgb(176, 175, 175, 0);
  border-radius: 1px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: larger;
}

.light {
  color: white;
}

.dark {
  color: black;
}
  
.searchInput {
  background-color: rgba(220, 213, 213, 0.5);
  opacity: 0.8;
}

.searchInput::placeholder {
  color:white;;
}

.logo {
  justify-self: center;
  align-self: center;
}

.searchContainer {
  align-self: center;
}

.greeting:hover {
  cursor: default;
}